<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355888072499-uqoqu8r3cejftmih8akhpc1dfa6r6vki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355888072499-uqoqu8r3cejftmih8akhpc1dfa6r6vki</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355888072499-5upqvkd2bb89bkdqjspc4volen6sgngf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCh8G_IkFQKrobVCsAvZWAOoDbDmBXuWI0</string>
	<key>GCM_SENDER_ID</key>
	<string>355888072499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kebetoo</string>
	<key>PROJECT_ID</key>
	<string>kebetoo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kebetoo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355888072499:ios:f4f6d5ff5e110e9fe16046</string>
	<key>DATABASE_URL</key>
	<string>https://kebetoo-app.firebaseio.com</string>
</dict>
</plist>